.contactUs-container {
   margin-top: scale-L(50);
   text-align: right;

   height: scale-L(350);
   background-image: url('/images/contactUs_background.jpg');
   background-size: 100% 100%;
   //background-position-y: 70%;

   display: flex;
   align-content: center;
   justify-content: center;
}

.contact-form {
   display: flex;
   @media (max-width: $content-breakpoint) {
      flex-direction: column-reverse;
      align-items: center;
      height: 130px;
      justify-content: space-between;
   }

   button {
      background-color: red;
      color: white;
      font-size: scale-L(23);
      padding: scale-L(15) scale-L(100);
   }

   .emailInput {
      margin: 0 scale-L(20);
   }

   input {
      text-align: right;
      padding: scale-L(10);
      width: scale-L(290);
      font-size: scale-L(16);
   }
}

.contactUs-title {
   margin-top: 100;
   color: $azure;
   font-size: scale-L(22);
   font-weight: 500;
   //text-align: right;
}