.contactUs-container {
   margin-top: scale-L(70);
   text-align: right;

   height: scale-L(350);
   background-image: url('/images/contactUs_background.jpg');
   background-size: 100% 100%;
   //background-position-y: 70%;

   display: flex;
   align-content: center;
   justify-content: center;
}

.contact-form {
   display: flex;
   @media (max-width: $contactUs-breakpoint) {
      flex-direction: column-reverse;
      align-items: center;
      align-content: center;
      height: 150px;
      justify-content: space-between;

      .emailInput {
         margin: 0;
      }

      button {
         margin-left: scale-L(20);
      }
   }

   button {
      background-color: red;
      color: white;
      font-size: scale-L(23);
      padding: scale-L(15) scale-L(100);
   }
}

.contactUs-title {
   @media (min-width: $contactUs-breakpoint) {
      margin-top: scale-L(100);
   }
   color: $azure;
   font-size: scale-L(22);
   font-weight: 500;
   //text-align: right;
}

.emailInput {
   margin: 0 scale-L(40) 0 scale-L(25);
}

.contact-input {
   display: flex;
   align-content: center;
   align-items: center;
   padding: 0;

   input {
      text-align: right;
      padding: scale-L(10);
      padding-right: scale-L(60);
      width: scale-L(290);
      height: scale-L(60);
      font-size: scale-L(16);
   }

   img {
      height: scale-L(21);
      margin-left: scale-L(-45);
   }
}