.socialMadiaLinks {
   background-color: rgb(41, 40, 40);
   padding: scale-S(20) scale-S(50);
   color: white;
   //height: 70scale-S();
   border-radius: 0 !important;

   display: flex;
   align-items: center;
   justify-content: space-between;

   p {
      font-size: scale-S(21);
      //margin: 0;
   }
}

.socialMadiaLinks-body {
   display: flex;
   //margin: 30scale-S() 0 30scale-S() 50scale-S();
}

.socialMadiaLink {
   border-radius: 100% !important;
   margin: 0 scale-S(10);
   height: scale-S(45);
   cursor: pointer;

   &:hover {
      filter:brightness(75%);
   }
}