.sorters {
   display: flex;
   justify-content: flex-end;

   @media (max-width: $sorters-breakpoint) {
      flex-direction: column-reverse;
      align-items: center;
   }
}


.sorters-select-container {
   display: flex;
   align-items: center;
   //margin-right: 50scale-L();

   font-family: Arial, Helvetica, sans-serif;
}

.sorters-select-label {
   font-size: scale-L(20);
   margin: 0 scale-L(15) 0 scale-L(10);

   @media (max-width: $sorters-breakpoint) {
      margin: 0 0 0 16px;
   }
}

.sorters-select {
   width: scale-L(230);
   font-size: scale-L(16);

   svg {
      width: scale-L(20);
      height: scale-L(20);
   }
}

.css-tlfecz-indicatorContainer { //arrow img
   padding: scale-L(8);
   //width: scale-L(50);
   //height: scale-L(50);
}

.sorters-buttonsMenu {
   display: flex;
   //height: scale-L(55);
   border-left: 1px solid gray;
   border-radius: 0 !important;

   
   @media (max-width: $sorters-breakpoint) {
      border: none;
      margin-top: 20px;
      margin-bottom: 20px;
   }
}


