.sorter-buttonOption {
   display: flex;
   align-items: center;
   transition: color 0s;

   margin-left: scale-L(30);
   padding: scale-L(3) scale-L(5) scale-L(3) scale-L(10);
   color: rgb(87, 87, 87);
   

   @media (max-width: $sorters-breakpoint) {
     margin: 0 6px;
   }

   &:hover {
      @extend .sorter-buttonOption-chosen;
   }
}

.sorter-button-text {
   margin: scale-L(7) scale-L(2) scale-L(7) scale-L(7);
   font-size: scale-L(17);
   text-align: center;

   
   @media (max-width: $sorters-breakpoint) {
      margin: 3px;
      font-size: 10px;
      max-width: 45px;
   }
}

.sorter-button-img {
   width: scale-L(40);
   filter:hue-rotate(170deg);

   
   @media (max-width: $sorters-breakpoint) {
      width: 30px;
   }
}

.sorter-buttonOption-chosen {
   background-color: rgb(64, 64, 143);
   color: rgb(255, 255, 255);

   img {
      filter:none;
   }
}