.dealsSummery {
   color: $azure;
   text-align: right;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.deal {
   display: flex;
   justify-content: flex-end;
   margin-top: calc(15 * $rpx);
   height: calc(205 * $rpx);
}

.deal-img {
   width: calc(180* $rpx);
}

.deal-button {
   color: white;
   padding: calc(13*$rpx) calc(18*$rpx);
   font-size:  calc(16*$rpx);
}


.deal-price {
   display: flex;
   flex-direction: column;
   align-content: center;
   text-align: center;
   justify-content: center;

   width: calc(200*$rpx);
   padding: 0 calc(30*$rpx);
   border: $dealBorder;
   background-color: rgb(237, 245, 250);
   color: $azure;

   h1, h5 {
      font-weight: 500;
      margin: 0;
   }

   h1 {
      font-size:  calc(30*$rpx);
   }

   h5 {
      font-size:  calc(12*$rpx);
   }

   button {
      background-color: rgb(255, 41, 41);
      margin-top:  calc(20 *$rpx);
      margin-bottom: calc(5* $rpx);
      font-weight: 600;
   }
}


