.deal-details {
   width: scale-S(500);
   border: $dealBorder;
   padding: scale-S(15);
   margin-left: scale-S(15);
   margin-right: scale-S(15);
   display: flex;
   flex-direction: column;
   text-align: right;

   h2 {
      margin: 0;
      color: $azure;
      font-weight: 500;
      font-size: scale-S(25);
   }

   @media (max-width: $content-breakpoint) {
      width: scale-S(300);
   }
}

.deal-times {
   margin-top: scale-S(6);
   margin-bottom: scale-S(5);
   font-size: scale-S(16);
}

.deal-time {
   display: block;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   font-weight: 400;
   margin-bottom: scale-S(3);

   .span-strong {
      margin-left: scale-S(8);
      font-weight: 700;
   }  
}

.span-separator {
   margin: 0 scale-S(10) 0 scale-S(12);
}


.deal-nights {
   display: flex;
   justify-content: space-between;
   p {
      margin: 0;
      font-weight: 600;
      font-size: scale-S(16);
   }

   @media (max-width: $content-breakpoint) {
      flex-direction: column-reverse;
   }
}

.deal-button-packages {
   background-color: $azure;
   margin: scale-S(-18) 0 0 scale-S(5);
   font-size: scale-S(16);

   @media (max-width: $content-breakpoint) {
      margin: 15px 0 0 0;
   }
}

.deal-rating {
   align-self: flex-end;
   margin-top: scale-S(-5);

   span {
      margin: 0 scale-S(4);
      font-size: scale-S(25) !important;
   }
}