.dealsSummery {
   color: $azure;
   text-align: right;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.deal {
   display: flex;
   justify-content: flex-end;
   margin-top: 15*$deal-scale;
   height: 205*$deal-scale;
}

.deal-img {
   width: 180*$deal-scale;
}

.deal-button {
   color: white;
   padding: 13*$deal-scale 18*$deal-scale;
   font-size: 16* $deal-scale;
}


.deal-price {
   display: flex;
   flex-direction: column;
   align-content: center;
   text-align: center;
   justify-content: center;

   width: 200*$deal-scale;
   padding: 0 30*$deal-scale;
   border: $dealBorder;
   background-color: rgb(237, 245, 250);
   color: $azure;

   h1, h5 {
      font-weight: 500;
      margin: 0;
   }

   h1 {
      font-size: 30* $deal-scale;
   }

   h5 {
      font-size: 12* $deal-scale;
   }

   button {
      background-color: rgb(255, 41, 41);
      margin-top: 20 * $deal-scale;
      margin-bottom: 5*$deal-scale;
      font-weight: 600;
   }
}


