.dealsSummery {
   color: $azure;
   text-align: right;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-top: scale-L(40);
   font-size: scale-L(24);
}

.deal {
   display: flex;
   justify-content: flex-end;
   margin-top: scale-S(15);
   //height: scale-S(205);
}

.deal-img {
   width: scale-S(180);
}

.deal-button {
   color: white;
   padding: scale-S(13) scale-S(18);
   font-size: scale-S(16);
}


.deal-price {
   display: flex;
   flex-direction: column;
   align-content: center;
   text-align: center;
   justify-content: center;

   width: scale-S(200);
   padding: 0 scale-S(30);
   border: $dealBorder;
   background-color: rgb(237, 245, 250);
   color: $azure;

   h1, h5 {
      font-weight: 500;
      margin: 0;
   }

   h1 {
      font-size: scale-S(30);
   }

   h5 {
      font-size: scale-S(15);
   }

   button {
      background-color: rgb(255, 41, 41);
      margin-top: scale-S(20);
      margin-bottom: scale-S(5);
      font-weight: 600;
   }
}


