.deal-details {
   width: 500 * $rpx;
   border: $dealBorder;
   padding: 15* $rpx;
   margin-left: 15* $rpx;
   margin-right: 15* $rpx;
   display: flex;
   flex-direction: column;
   text-align: right;

   h2 {
      margin: 0;
      color: $azure;
      font-weight: 500;
      font-size: 25* $rpx;
   }
}

.deal-times {
   margin-top: 6* $rpx;
   margin-bottom: 5* $rpx;
   font-size: 16 * $rpx;
}

.deal-time {
   display: block;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   font-weight: 400;
   margin-bottom: 3* $rpx;

   .span-strong {
      margin-left: 8 * $rpx;
      font-weight: 700;
   }  
}

.span-separator {
   margin: 0 10*$rpx 0 12*$rpx;
}


.deal-nights {
   display: flex;
   justify-content: space-between;
   p {
      margin: 0;
      font-weight: 600;
      font-size: 16* $rpx;
   }

   button {
      background-color: $azure;
      margin: -18*$rpx 0 0 5*$rpx;
      font-size: 16* $rpx;
   }
}

.deal-rating {
   align-self: flex-end;
   margin-top: -5*$rpx;

   span {
      margin: 0 4*$rpx;
      font-size: 25*$rpx !important;
   }
}