.filters {
   width: scale-L(280);
   color: white;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   align-content: stretch;
}

.filter_block {
   background-color: rgb(52, 53, 138);
   margin: scale-L(2.5);
}



.filter_last-block {
   flex-grow: 1;
   margin-bottom: 0;
}


.filter-expand {
   flex-grow: 1;
}


.filtersContent {
   //max-height: inherit;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.filters_title {
   padding: scale-L(16);
   font-size: scale-L(18);
   text-align: right;
}





