.pricesSlider-container {
   padding: 0 scale-L(20) scale-L(10) scale-L(20);
}

.pricesSlider-limits {
   display: flex;
   justify-content: space-between;

   p {
      margin: scale-L(5);
      font-size: scale-L(16);
   }
}