.search-input {
   color: rgb(29, 29, 29);
   text-align: right;
   height: scale-L(35);
   width: scale-L(210);
   font-size: scale-L(14);

   padding: scale-L(10);
   border: none;

   &::placeholder {
      color: rgb(184, 184, 184);
   }
}


.search-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: scale-L(16) scale-L(2) scale-L(16) scale-L(12);
}


.searchIcon {
   width: scale-L(20);
   margin-right: -25px;;
   z-index: 99;
   filter: brightness(-30%);
}



/*
.MuiSvgIcon-root {
   background-color: white;
   color: #666666;
   height: scale-L(25);
   
   margin-right: scale-L(-45);
   z-index: 99;

   @media(max-width: $content-breakpoint) {
      margin-right: scale-L(-50);
   }
}
*/