

* {
  box-sizing: border-box;
  transition: all 0.5s;
  border-radius: 3.5px;
}


body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   //font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

   letter-spacing: 1.3px;
   line-height: 1.6;
   color: rgb(59, 59, 59);
}

#app, .app, body, html {
   width: 100%;
   min-width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: default;
}

.page-content {
   margin-top: scale-S(30);
   display: flex;
   justify-content: center;

   @media (max-width: $content-breakpoint) {
      flex-direction: column-reverse;
      align-items: center;
      justify-items: stretch;
   }
}

.pageCenter {
   margin: scale-S(10) scale-S(30) 0 0;

   @media (max-width: $content-breakpoint) {
      margin: 0;
   }
}

