$azure: rgb(0, 149, 218);
$dealBorder: 1px solid rgb(179, 179, 179);
$deal-scale: 1* 100vw / 1680; //1680: my screen width

$header-breakpoint-L: 1060px;
$header-breakpoint-S: 600px;

$content-breakpoint-S: 600px;
